<h2 mat-dialog-title>
  <div class="row">
    <div class="col-6 col-md-6 modalTitle">
      Lorem ipsum
    </div>
    <div class="col-6 col-md-6 text-right">
      <a href="javascript:void(0);" mat-button (click)="closeModal()">
        <span class="material-icons">
          close
        </span>
      </a>
    </div>
  </div>
</h2>
<mat-dialog-content class="mat-typography">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore nam enim sit excepturi quis ratione maiores incidunt fugiat odio iste sed odit, modi repellat voluptate, ullam fugit exercitationem officia?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore nam enim sit excepturi quis ratione maiores incidunt fugiat odio iste sed odit, modi repellat voluptate, ullam fugit exercitationem officia?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore nam enim sit excepturi quis ratione maiores incidunt fugiat odio iste sed odit, modi repellat voluptate, ullam fugit exercitationem officia?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore nam enim sit excepturi quis ratione maiores incidunt fugiat odio iste sed odit, modi repellat voluptate, ullam fugit exercitationem officia?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore nam enim sit excepturi quis ratione maiores incidunt fugiat odio iste sed odit, modi repellat voluptate, ullam fugit exercitationem officia?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore nam enim sit excepturi quis ratione maiores incidunt fugiat odio iste sed odit, modi repellat voluptate, ullam fugit exercitationem officia?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore nam enim sit excepturi quis ratione maiores incidunt fugiat odio iste sed odit, modi repellat voluptate, ullam fugit exercitationem officia?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore nam enim sit excepturi quis ratione maiores incidunt fugiat odio iste sed odit, modi repellat voluptate, ullam fugit exercitationem officia?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo labore nam enim sit excepturi quis ratione maiores incidunt fugiat odio iste sed odit, modi repellat voluptate, ullam fugit exercitationem officia?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn cursor-pointer" mat-button (click)="closeModal()">Cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="cursor-pointer btn btn-primary" mat-button cdkFocusInitial (click)="closeModal()">Action</button>
</mat-dialog-actions>
