<div class="main-content" [ngStyle]="{'margin-top': !settings.isLoggedIn ? '0px' : ''}">
  <div class="container-fluid" style="padding-left:15px;padding-right:15px;">
    <div class="row login-section">
      <div class="col-md-4 login-left-panel"></div>
      <div class="col-md-4 main-login-panel">
        <div class="row company-title-case">
          <div class="col-md-12 text-left login-page-logo-section">
            <img src="assets/images/Patterns7.png" alt="Patterns7"/>
          </div>
          <div class="col-md-12 text-left login-page-logo-title-section">
            <strong class="sub-company-title">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </strong>
          </div>
        </div>
        <div class="row login-form-title-section">
          <div class="col-md-12 text-center">
            <div class="header-content">
              <h4 class="login-sub-title">Forgot Password</h4>
            </div>
          </div>
        </div>
        <div class="row login-form-section" *ngIf="!sucessFlag">
          <form autocomplete="off" class="form-login" id="form-login" method="POST"
            autocomplete="off" [formGroup]="passwordForm" novalidate>
            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="text" formControlName="email" [ngClass]="{'is-invalid': passwordForm.controls['email'].invalid && (passwordForm.controls['email'].dirty || passwordForm.controls['email'].touched),'is-valid': !passwordForm.controls['email'].errors}"
                class="form-control" id="email" aria-describedby="email" placeholder="Email*" trim="blur">
              <div *ngIf="passwordForm.controls['email'].invalid && (passwordForm.controls['email'].dirty || passwordForm.controls['email'].touched)"
                [ngClass]="{'invalid-feedback': passwordForm.controls['email'].errors,'valid-feedback': !passwordForm.controls['email'].errors}">
                <div *ngIf="passwordForm.controls['email'].errors.required">
                  Email is required
                </div>
                <div *ngIf="passwordForm.controls['email'].errors && passwordForm.controls['email'].value">
                  Enter valid email address
                </div>
              </div>
            </div>
            <div class="form-group login-button-section" style="margin-bottom: 20px;">
              <button type="submit" (click)="forgotPassword()" class="btn btn-primary btn-block" id="login" [disabled]="passwordForm.pristine || passwordForm.invalid">Send recovery link</button>
            </div>
          </form>
          <div class="row" style="display: contents;">
            <div class="col-md-12 text-center" *ngIf="loader">
              <div class="spinner-border text-info " role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row success-msg" *ngIf="sucessFlag">
          <div class="col-12 col-md-12">
            We send a recovery link to your register email address. Please check your email and reset your password using this link.
          </div>
        </div>
        <div class="row return-to-login">
          <div class="col-12 col-md-12 text-center return-to-login-col">
            <a routerLink="/login" href="javascript:void(0);" class="cant-login-title">Return to log in</a>
          </div>
        </div>
        <div class="row text-center copyright-section">
          <div class="col-md-12 copyright-title text-center">
            <a href="http://patterns7tech.com/" target="_blank" rel="noopener noreferrer">Powered by <img
                src="assets/images/Patterns_7.png" alt="Patterns7" srcset="" style="width: 20px;"> Patterns7
              Technologies
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 login-right-panel">

      </div>
    </div>
  </div>
</div>

