<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <span class="note">Header 1</span>
          </div>
          <div class="col-md-9">
            <h1>
              Patterns7tech Pvt Ltd
            </h1>
          </div>
          <div class="col-md-3">
            <span class="note">Header 2</span>
          </div>
          <div class="col-md-9">
            <h2>
              Patterns7tech Pvt Ltd
            </h2>
          </div>
          <div class="col-md-3">
            <span class="note">Header 3</span>
          </div>
          <div class="col-md-9">
            <h3>
              Patterns7tech Pvt Ltd
            </h3>
          </div>
          <div class="col-md-3">
            <span class="note">Header 4</span>
          </div>
          <div class="col-md-9">
            <h4>
              Patterns7tech Pvt Ltd
            </h4>
          </div>
          <div class="col-md-3">
            <span class="note">Header 5</span>
          </div>
          <div class="col-md-9">
            <h5>
              Patterns7tech Pvt Ltd
            </h5>
          </div>
          <div class="col-md-3">
            <span class="note">Header 6</span>
          </div>
          <div class="col-md-9">
            <h6>
              Patterns7tech Pvt Ltd
            </h6>
          </div>
          <div class="col-md-3">
            <span class="note">Paragraph</span>
          </div>
          <div class="col-md-9">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard dummy text ever since the 1500s, when an unknown printer took
              a galley of type and scrambled it to make a type specimen book. It has survived not only
              five centuries, but also the leap into electronic typesetting, remaining essentially
              unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
              Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
              PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
          <div class="col-md-3">
            <span class="note">Muted Text</span>
          </div>
          <div class="col-md-9">
            <p class="text-muted">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard dummy text ever since the 1500s, when an unknown printer took
              a galley of type and scrambled it to make a type specimen book. It has survived not only
              five centuries, but also the leap into electronic typesetting, remaining essentially
              unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
              Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
              PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
          <div class="col-md-3">
            <span class="note">Primary Text</span>
          </div>
          <div class="col-md-9">
            <p class="text-primary">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard dummy text ever since the 1500s, when an unknown printer took
              a galley of type and scrambled it to make a type specimen book. It has survived not only
              five centuries, but also the leap into electronic typesetting, remaining essentially
              unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
              Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
              PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
          <div class="col-md-3">
            <span class="note">Info Text</span>
          </div>
          <div class="col-md-9">
            <p class="text-info">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard dummy text ever since the 1500s, when an unknown printer took
              a galley of type and scrambled it to make a type specimen book. It has survived not only
              five centuries, but also the leap into electronic typesetting, remaining essentially
              unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
              Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
              PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
          <div class="col-md-3">
            <span class="note">Success Text</span>
          </div>
          <div class="col-md-9">
            <p class="text-success">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard dummy text ever since the 1500s, when an unknown printer took
              a galley of type and scrambled it to make a type specimen book. It has survived not only
              five centuries, but also the leap into electronic typesetting, remaining essentially
              unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
              Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
              PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
          <div class="col-md-3">
            <span class="note">Warning Text</span>
          </div>
          <div class="col-md-9">
            <p class="text-warning">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard dummy text ever since the 1500s, when an unknown printer took
              a galley of type and scrambled it to make a type specimen book. It has survived not only
              five centuries, but also the leap into electronic typesetting, remaining essentially
              unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
              Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
              PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
          <div class="col-md-3">
            <span class="note">Danger Text</span>
          </div>
          <div class="col-md-9">
            <p class="text-danger">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard dummy text ever since the 1500s, when an unknown printer took
              a galley of type and scrambled it to make a type specimen book. It has survived not only
              five centuries, but also the leap into electronic typesetting, remaining essentially
              unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
              Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
              PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
