@font-face {
  font-family: 'VarelaRound-Regular';
  src: url('src/assets/fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('src/assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('src/assets/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('src/assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('src/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('src/assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('src/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('src/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial-Regular';
  src: url('src/assets/fonts/Arial/Arial-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('src/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('src/assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
}
