
<div class="main-content" [ngStyle]="{'margin-top': !settings.isLoggedIn ? '0px' : ''}">
  <div class="container-fluid" style="padding-left:15px;padding-right:15px;">
    <div class="row login-section">
      <div class="col-md-4 login-left-panel"></div>
      <div class="col-md-4 main-login-panel">
        <div class="row company-title-case">
          <div class="col-md-12 text-left login-page-logo-section">
            <img src="assets/images/Patterns7.png" alt="Patterns7"/>
          </div>
          <div class="col-md-12 text-left login-page-logo-title-section">
            <strong class="sub-company-title">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </strong>
          </div>
        </div>
        <div class="row login-form-title-section">
          <div class="col-md-12 text-center">
            <div class="header-content">
              <h4 class="login-sub-title">Forgot Password</h4>
            </div>
          </div>
        </div>
        <div class="row login-form-section">
          <form autocomplete="off" class="form-login" id="form-login" method="POST"
            autocomplete="off" [formGroup]="passwordForm" novalidate>
            <div class="form-group">
              <label for="password" class="sr-only">Password</label>
              <input type="password" formControlName="password" [ngClass]="{'is-invalid': passwordForm.controls['password'].invalid && (passwordForm.controls['password'].dirty || passwordForm.controls['password'].touched),'is-valid': !passwordForm.controls['password'].errors}"
                class="form-control" id="password" aria-describedby="password" placeholder="Password*" trim="blur">
              <div *ngIf="passwordForm.controls['password'].invalid && (passwordForm.controls['password'].dirty || passwordForm.controls['password'].touched)"
                [ngClass]="{'invalid-feedback': passwordForm.controls['password'].errors,'valid-feedback': !passwordForm.controls['password'].errors}">
                <div *ngIf="passwordForm.controls['password'].errors.required">
                  Password is required
                </div>
                <div *ngIf="passwordForm.controls['password'].errors && passwordForm.controls['password'].value">
                  Password must contain min 8 & max 12 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword" class="sr-only">Confirm Password</label>
              <input type="password" formControlName="confirmPassword" [ngClass]="{'is-invalid': passwordForm.controls['confirmPassword'].invalid && (passwordForm.controls['confirmPassword'].dirty || passwordForm.controls['confirmPassword'].touched),'is-valid': !passwordForm.controls['confirmPassword'].errors}"
                class="form-control" id="confirmPassword" aria-describedby="confirmPassword" placeholder="Confirm Password*" trim="blur">
              <div *ngIf="passwordForm.controls['confirmPassword'].invalid && (passwordForm.controls['confirmPassword'].dirty || passwordForm.controls['confirmPassword'].touched)"
                [ngClass]="{'invalid-feedback': passwordForm.controls['confirmPassword'].errors,'valid-feedback': !passwordForm.controls['confirmPassword'].errors}">
                <div *ngIf="passwordForm.controls['confirmPassword'].errors.required">
                  Password is required
                </div>
                <div *ngIf="passwordForm.controls['confirmPassword'].errors && passwordForm.controls['confirmPassword'].value">
                  Password must contain min 8 & max 12 characters
                </div>
              </div>
            </div>
            <div class="form-group login-button-section" style="margin-bottom: 20px;">
              <button type="submit" (click)="newPassword()" class="btn btn-primary btn-block" id="login" [disabled]="passwordForm.pristine || passwordForm.invalid || loader">Continue</button>
            </div>
          </form>
          <div class="row" style="display: contents;">
            <div class="col-md-12 text-center" *ngIf="loader">
              <div class="spinner-border text-info " role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center copyright-section">
          <div class="col-md-12 copyright-title text-center">
            <a href="http://patterns7tech.com/" target="_blank" rel="noopener noreferrer">Powered by <img
                src="assets/images/Patterns_7.png" alt="Patterns7" srcset="" style="width: 20px;"> Patterns7
              Technologies
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 login-right-panel">

      </div>
    </div>
  </div>
</div>

